/* input[type="checkbox"]:checked{
    display: none;
} */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    padding: 60px;
    text-align: center;
    background-color: green;
    color: bisque;
}

nav {
    display: flex;
    background-color: gray;
    height: 50px;
}

nav .toogle-menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%;
}

nav .toogle-menu a {
    color: azure;
    text-decoration: none;
    padding: 14px 20px;
    font-weight: bold;
    font-size: 18px;
}

nav .toogle-menu a:hover {
    background-color: violet;
}

.label-menu {
    display: none;
}

.checkbox-menu {
    display: none;
}

.row aside,
main {
    padding: 0 15px;
}

.row {
    display: flex;
    justify-content: space-between;
    border: 3px solid black;
}

.row aside {
    flex: 0 1 30%;
    background-color: antiquewhite;
}

.row main {
    flex: 0 1 69%;
    background-color: darkkhaki;
}

.container-fake-img .fake-img {
    width: 100%;
}

footer {
    padding: 0 15px;
    background-color: green;
}

/* @media screen and (min-width: 1200px) {
    header {background-color: brown;}
} */

/* сработает при достижении разрешения браузера 768 включительно и меньше */
@media screen and (max-width: 768px) {

    .row,
    nav,
    .toogle-menu {
        flex-direction: column;
    }

    nav {
        height: auto;
    }

    nav .toogle-menu {
        margin: 0%;
        display: none;
        user-select: none;
    }

    nav .label-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .label-menu * {
        color: white;
        font-size: 25px;
    }

    .label-menu *:hover {
        color: red;
        font-size: 35px;
    }

    .checkbox-menu:checked~.toogle-menu {
        display: flex;
        z-index: 1;
    }

    .toogle-menu {
        padding: 0%;
    }

    .toogle-menu li {
        width: 100%;
        background-color: bisque;
    }

    .toogle-menu li a {
        display: flex;
        justify-content: center;
        padding: 0%;
        font-size: 22px;
        padding: 10px;
    }

    .toogle-menu li a:hover {
        background-color: aqua;
    }
}


/* @media screen and (max-width: 480px) {
    header {background-color: yellow;}
} */